<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blumenplace Monitor - Sign-In</title>
    <link rel="stylesheet" type="text/css" class="ui" href="{{url_for('static', filename='css/semantic.min.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sign-in.css')}}">
    <script src="{{url_for('static', filename='js/sign-in.js')}}"></script>
</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <form action="{{url_for('sign-in')}}" method="post" onsubmit="onSubmit(event)">
                <div class="ui form segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left labeled icon input">
                            <input type="text" name="username" placeholder="Username" value="">
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left labeled icon input">
                            <input type="password" name="password">
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <button id="submit" class="ui blue submit button">Sign-In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
